.img {
    font-size: 3.2rem;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    width: auto;
}

.logo h1 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
}
